{% extends "pages/base.html" %}

{% block title %} Upload student file {% endblock title %}

{% block content %}
    <center>
        <form enctype="multipart/form-data" method="post" action=".">
            {% csrf_token %}
            <div class="container-fluid" style="background: white;">
                {{form.as_p}}
                <select name="model">
                    <option value="Student">Student</option>
                    <option value="Book">Book</option>
                    <option value="Teacher">Teacher</option>
                    <option value="SystemLevel">SystemLevel</option>
                    {% comment %} <option value="CambridgeLevel">Cambridge</option> {% endcomment %}
                </select>
            </div>      
            <input type="submit" value="Đăng kí"/>
        </form>
    </center>
{% endblock content %}